/* =========== Common styles =========== */

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, 
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

button{
    cursor: pointer;
    border: none;
}

img{
    display: block;
}

.container{
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* =========== Page Header styles =========== */

.header-page{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-navigation{
    display: flex;
    align-items: center;
}

.logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-part-logo{
    color: #2e2f42;
}

.navigation-list{
    display: flex;
    gap: 40px;
}

.nav-link{
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.home-page{
    position: relative;
    color: #404bbf;
}

.home-page::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.nav-link:hover, 
.nav-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-list{
    display: flex;
    gap: 40px;
}

.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

/* =========== Hero Section styles =========== */

.hero{
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ),  
    url(../images/hero/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.main-title{
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}
.order-servise-btn{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-servise-btn:hover,
.order-servise-btn:focus {
    background-color:  #404bbf;
}

/* =========== Benefits Section styles =========== */

.benefits{
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.benefits-list-item{
    width: calc((100% - 72px) / 4);
}

.benefits-list-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.benefits-list-icons{
   fill: #2e2f42;
}

.benefits-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* =========== Team Section styles =========== */

.team{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.our-team-list-item{
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-list-item-container{
    padding: 32px 0;

}

.our-team-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-media-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-media-list-item{
    width: 40px;
    height: 40px;
}

.social-media-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus
{
    background-color: #404bbf;
}

.social-media-icon {
    fill: #f4f4fd;
}

/* =========== Portfolio Section styles =========== */

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portfolio-list-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overley{
    position: relative;
    overflow: hidden;
}

.portfolio-overley-text{
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover .portfolio-overley-text {
    transform: translatey(0);
}

.our-portfolio-list-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.our-portfolio-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-portfolio-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* =========== Footer Page styles =========== */

.footer-page{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-page-container{
    display: flex;
    align-items: baseline;
}

.logo-description-container{
    margin-right: 120px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-part-logo{
    color: #f4f4fd;
}

.footer-description{
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.social-media-container{
    margin-right: 80px;
}

.social-media-list-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-page .social-media-list{
    display: flex;
    gap: 16px;
}

.footer-page .social-media-link:hover,
.footer-page .social-media-link:focus{
    background-color: #31d0aa;
}

.subscribe-form-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-form{
    display: flex;
    gap: 24px;
}

.subscribe-form-field-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.subscribe-form-input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-form-input::placeholder{
    color: #fff;
}

.subscribe-form-submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
}

.subscribe-btn-icon{
    margin-left: 16px;
}

/* =========== Backdrop styles =========== */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    z-index: 9999;

    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    visibility: visible;
    opacity: 1;
}

/* =========== Modal window styles =========== */

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 24px;
    padding-top: 72px;
    background-color:#fcfcfc;
    border-radius: 4px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    stroke: #2E2F42;
    fill: #2E2F42;
    width: 24px;
    height: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404bbf;
    stroke:#fff;
    fill:#fff;
    border: none;
}

/* =========== Order form styles =========== */

.form-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.order-servise-form-input-wrapper{
    margin-bottom: 8px;
}

.order-servise-form-field-label{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input-wrapper{
    position: relative;
}

.order-servise-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.order-servise-form-input:focus{
    border-color:  #4d5ae5;
    outline: transparent;
}

.form-input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-servise-form-input:focus + .form-input-icon{
    fill: #4d5ae5;
}

.order-servise-form-textarea-wrapper{
    margin-bottom: 16px;
}

.order-servise-form-message{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.order-servise-form-message::placeholder{
    color: rgba(46, 47, 66, 0.4);
}

.order-servise-form-message:focus{
    border-color: #4d5ae5;
    outline: transparent;
}

.order-servise-form-checbox-wrapper{
    margin-bottom: 24px;
}

.order-servise-form-own-checkbox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-servise-form-privacy-checkbox:checked
+.order-servise-form-checkbox-label 
.order-servise-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.order-servise-form-privacy-checkbox:focus
+.order-servise-form-checkbox-label 
.order-servise-form-own-checkbox{
    outline: 1px solid #404bbf;
}

.order-servise-form-checkbox-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}


.privacy-policy-link{
    line-height: 1.33333;
    text-decoration: underline;
    color: #4d5ae5;
}

.order-servise-form-submit-btn{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-servise-form-submit-btn:hover,
.order-servise-form-submit-btn:focus {
    background-color: #404bbf;
}